*{
    font-family: 'Architects Daughter', Arial, Helvetica, sans-serif !important;
}

body{
    
    background: linear-gradient(223deg, #58c6cc, #a145ec);
    background-size: 800% 800%;
    background-position-y: 200%;
    -webkit-animation: BackgroundGradient 13s ease infinite;
    -moz-animation: BackgroundGradient 13s ease infinite;
    -o-animation: BackgroundGradient 13s ease infinite;
    animation: BackgroundGradient 13s ease infinite;
}
.display-4{
    padding-top: 5% !important;
    color:white !important;
}
#gameWrap .jumbotron{
    background-color: rgba(0,0,0,0.01) !important;
}

#gameboard{
    margin-top: 15vh;
}
#gameboard img{
    width: 30vw;
}

.navbar-brand{
    font-size:3vw !important;
}

/*
    Responsive Breakpoints
*/

@media (max-width:1100px){
    .display-4{
        font-size:5vw !important;
    }
}





/*
    Animations
*/

@-webkit-keyframes BackgroundGradient {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@-moz-keyframes BackgroundGradient {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@-o-keyframes BackgroundGradient {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@keyframes BackgroundGradient { 
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
